# Dataload - Frota Viva

### Importando as bibliotecas necessárias

In [13]:
from faker import Faker # para geração de dados ficticios
import random # para gerar numeros aleatorios
from datetime import datetime # para gerar os valores de data da tabela informações

# definindo lingua do faker para portugues 
# e a seed com o mesmo numero em ambas
# para a geração do mesmo padrão de valores
fake = Faker("pt-BR")
Faker.seed(1)
random.seed(1)

### Função para tirar os caracteres indevidos

In [14]:
def desmascarar(s):
    r = str(s)
    return r.replace('(','').replace(")",'').replace(' ', '').replace('+','').replace('/','').replace('-','').replace('.','')

### Empresa

In [15]:
try:
    with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
        insert = "\nINSERT INTO Empresa (id, tipo_empresa, cnpj, email, senha, nome, cep, rua, complemento, numero, pais, estado, cidade) VALUES\n"
        o.write(insert)

    for i in range(10):
        
        id = i + 1
        tipo_empresa = random.choice(["Transportadora", "Logistica", "Distribuidora"])
        cnpj= desmascarar(fake.cnpj())
        email = fake.company_email()
        senha = fake.password()
        nome = fake.company()
        cep = desmascarar(fake.postcode())
        rua = fake.street_name()
        complemento = None
        numero = random.randint(1,9999)
        pais = "Brasil"
        estado = "SP"
        cidade = fake.city()

    
        with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
            sql = ""
            sql += f"( {id}, '{tipo_empresa}', '{cnpj}', '{email}', '{senha}', '{nome}', '{cep}', '{rua}', '{complemento}', {numero}, '{pais}', '{estado}', '{cidade}'){',' if i != 9 else ';'}\n"
            o.write(sql)
            
except FileNotFoundError:
    print('Arquivo não encontado ao escrever o insert')

### Motoristas

In [16]:
try:
    with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
        insert = "\nINSERT INTO Motorista (id, nome, email, cpf, senha, id_empresa) VALUES\n"
        o.write(insert)

    for i in range(10):
        
        id = i + 1
        nome = fake.name()
        email = fake.email()
        cpf = desmascarar(fake.cpf())
        senha = fake.password()
        id_empresa = random.randint(1,10)

        
        with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
            sql = ""
            sql += f"( {id}, '{nome}', '{email}', '{cpf}', '{senha}', {id_empresa}){',' if i != 9 else ';'}\n"
            o.write(sql)
             
except FileNotFoundError:
    print('Arquivo não encontado ao escrever o insert da tabela motorista')

### Frota

In [17]:
try:
    with open("../sql/scriptDataload.sql", "a") as o:
        insert = "\nINSERT INTO Frota(id, tamanho_frota, tipo_frota, regiao, id_empresa ) VALUES\n"
        o.write(insert)

    for i in range(10):

        id = i + 1
        tamanho_frota = random.randint(2, 13000)
        tipo_frota = random.choice(["Comercial", "Entregas", "Empresarial", "Executiva", "Serviços Públicos"])
        regiao ="SP"
        id_empresa = i + 1
        
        with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
            sql = ""
            sql += f"({id}, {tamanho_frota}, '{tipo_frota}', '{regiao}', {id_empresa}){',' if i != 9 else ';'}\n"
            o.write(sql)

except FileNotFoundError:
    print('Arquivo não encontado ao escrever o insert da tabela frota')

### Caminhão

In [18]:
try:
    with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
        insert = "\nINSERT INTO Caminhao(id, placa, status, kms_rodados, modelo, capacidade, id_frota) VALUES\n"
        o.write(insert)

    for i in range(10):

        id = i + 1
        placa = fake.bothify(text="???#?##").upper()
        status = fake.random_element(elements=("I", "A", "M"))
        kms_rodados = random.randint(1,9999)
        modelo = fake.random_element(elements=("FURGOES","CARREGA-TUDO","TANQUE","LINHA-LEVE", "GRANELEIRO", "BASCULANTE", "FLORESTAL", "PORTA-CONTAINER"))
        capacidade = random.randint(1,999)
        id_frota = random.randint(1,10)
   
    
        with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
            sql = f"({id}, '{placa}', '{status}', {kms_rodados}, '{modelo}', {capacidade}, {id_frota}){',' if i != 9 else ';'}\n"
            o.write(sql)
except FileNotFoundError:
    print('Arquivo não encontado ao escrever os dados do insert na tabela caminhao')

### Entregas

In [19]:
try:
    with open("../sql/scriptDataload.sql", "a") as o:
        insert = "\nINSERT INTO Entrega(cod_entrega, descricao_produto, dt_pedido, dt_entrega, cep, rua, complemento, numero, pais, estado, cidade, id_motorista) VALUES\n"
        o.write(insert)

    for i in range(10):

        cod_entrega = i + 1
        descricao_produto = fake.sentence(4)
        dt_pedido = fake.date_this_year()
        dt_entrega = fake.date_between(start_date=dt_pedido, end_date='today')
        cep = desmascarar(fake.postcode())
        rua = fake.street_name()
        complemento = fake.sentence(3)
        numero = random.randint(1,99999)
        pais = 'Brasil'
        estado = 'SP'
        cidade = fake.city()
        id_motorista = random.randint(1,10)

        
        with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:            
            sql = ""
            sql = f"({cod_entrega}, '{descricao_produto}', '{dt_pedido}', '{dt_entrega}', '{cep}', '{rua}', '{complemento}', {numero}, '{pais}', '{estado}', '{cidade}', {id_motorista} ){',' if i != 9 else ';'}\n"
            o.write(sql)
except FileNotFoundError:
    print('Arquivo não encontado ao escrever os dados na tabela entregas')

### Telefones da empresa

In [20]:
try:
    with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
        insert = "\nINSERT INTO Telefone_Empresa(id, telefone_empresa, id_empresa) VALUES\n"
        o.write(insert)

    for i in range(10):
        
        id = i + 1
        telefone_empresa = fake.bothify(text="##9########")
        id_empresa = i + 1

        
        
        with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
            sql = ""
            sql += f"({id}, '{telefone_empresa}' ,{id_empresa}){',' if i != 9 else ';'}\n"
            o.write(sql)

except FileNotFoundError:
    print('Arquivo não encontado ao escrever os dados no insert da tabela telefone_empresa')

### Telefone dos motoristas

In [21]:
# escrevendo primeiro o insert
try:
    with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
        insert = "\nINSERT INTO Telefone_Motorista(id, telefone_motorista, id_motorista) VALUES\n"
        o.write(insert)

# criando os atributos ficticios
    for i in range(10):

        id= i + 1
        telefone_motorista = fake.bothify(text="##9########")
        id_motorista= i + 1
        
        with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
            sql = ""
            sql += f"({id}, '{telefone_motorista}' ,{id_motorista}){',' if i != 9 else ';'}\n"
            o.write(sql)

except FileNotFoundError:
    print('Arquivo não encontado ao escrever os dados do insert')

### Informações

In [22]:
try:
	with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
		insert = "\nINSERT INTO Informacoes(id, temp_ar_admissao, posicao_acelerador, tempo_motor_ligado, carga_motor, rpm_motor, dt_hora_leitura, pressao_pneu, sensores_oxigenio, qtd_combustivel, temp_arrefecimento, pressao_coletor_admissao, id_caminhao) VALUES\n"
		o.write(insert)

	start_date = datetime(2023, 1, 1, 0, 0, 0)
	end_date = datetime.now()

	for i in range(10):

		# para gerar um datetime 
		data = fake.date_object() # gerando data 
		hora = fake.time_object() # gerando hora
		datacombinada = datetime.combine(data, hora) # juntando os dois em uma string

		id = i + 1  
		tempr_ar_admissao = random.randint(15, 45) 
		posicao_acelerador = random.randint(0, 100) 
		tempo_motor_ligado = fake.time_object()
		carga_motor = random.randint(0, 100)  
		rpm_motor = random.randint(600, 3000)
		dt_hora_leitura =  datacombinada.strftime("%Y-%m-%d %H:%M:%S") # formatando a data 
		pressao_pneu = round(random.uniform(28.0, 36.0), 2) 
		sensores_oxigenio = random.randint(0, 1) 
		qtd_combustivel = random.randint(0, 200) 
		temp_arrefecimento = random.randint(70, 110) 
		pressao_coletor_admissao = round(random.uniform(0.8, 2.5), 2) 
		id_caminhao = random.randint(1, 10)    

		with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
			sql = f"({id}, {tempr_ar_admissao}, {posicao_acelerador}, '{tempo_motor_ligado}', {carga_motor}, {rpm_motor}, '{dt_hora_leitura}', {pressao_pneu}, {sensores_oxigenio}, {qtd_combustivel}, {temp_arrefecimento}, {pressao_coletor_admissao}, {id_caminhao}){',' if i != 9 else ';'}\n"
			o.write(sql)

except FileNotFoundError:
	print('Arquivo não encontado ao escrever os dados no insert da tabela informacoes')

### Manutenções

In [23]:
try:
    with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
        insert = "\nINSERT INTO Manutencao(id, dt_cadastro, dt_conclusao, tipo_manutencao, custo, ultimo_motorista, descricao_servico, id_caminhao) VALUES \n"
        o.write(insert)

    for i in range(10):
        
        id = i + 1
        dt_cadastro = fake.date_between_dates(date_start='-2y')
        dt_conclusao = fake.date_between_dates(date_start=dt_cadastro)
        tipo_manutencao = fake.random_element(elements=("Corretiva","Preventiva"))
        custo = random.randint(100,50000)
        ultimo_motorista = random.randint(1, 10)
        descricao_servico = fake.text(50)
        id_caminhao = random.randint(1, 10)
    
        
        with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
            sql = ""
            sql = f"({id}, '{dt_cadastro}', '{dt_conclusao}', '{tipo_manutencao}', {custo}, {ultimo_motorista}, '{descricao_servico}', {id_caminhao}){',' if i != 9 else ';'}\n"
            o.write(sql)
except FileNotFoundError:
    print('Arquivo não encontado ao escrever os dados do insert')

### Tabela de ligação Motorista Caminhão

In [24]:
try:
    with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
        insert = "\nINSERT INTO Caminhao_Motorista(id, id_caminhao, id_motorista) VALUES \n"
        o.write(insert)

    for i in range(10):
        
        id = i + 1
        id_caminhao = random.randint(1,10)
        id_motorista = random.randint(1,10)
    
        
        with open("../sql/scriptDataload.sql", "a", encoding='utf-8') as o:
            sql = ""
            sql = f"({id}, {id_caminhao}, {id_motorista} ){',' if i != 9 else ';'}\n"
            o.write(sql)
except FileNotFoundError:
    print('Arquivo não encontado ao escrever os dados do insert')